<table class="index responsive">
  <colgroup>
     <col style="width: 16%;">
     <col style="width: 10%;">
     <col style="width: 13%;">
  </colgroup>
  <thead>
    <tr>
      <th><%= t :title %></th>
      <th><%= t :body %></th>
      <th><%= t :edit %></th>
    </tr>
  </thead>
  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= t("fat_footer.#{info.title}") %></td>
        <td><%= info.body.nil? ? "-" : info.body %></td>
        <td><%= link_to t(:edit), edit_admin_spree_slider_theme_info_path(info) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
