<div id="featured">
	<div class="image_categories">
    <% if @list_best_products.nil? || @list_best_products.empty? %>
      <%= link_to (image_tag 'store/spree_slider_theme/default/no-product.jpg', :width => 310, :height => 207), "#" %>
    <% else %>
      <% @help = @list_best_products.first %>
      <% if @help.images.first.attachment.styles.select{ |i| i == "feature"}.length == 1 %>
        <%= link_to feature_image(@help, :itemprop => "image"), @help, :itemprop => 'url' %>
      <% else %>
        <%= link_to small_image(@help, :itemprop => "image", :width => 310, :height => 207), best_seller_path, :itemprop => 'url' %>
      <% end %>
    <% end %>
		<div class="promotion">
      <div class="tag_promotion"><%= t :best_products_title %></div>
		</div>
	</div>
	
	<div class="image_categories">
    <% if @list_new_products.nil? || @list_new_products.empty? %>
      <%= link_to (image_tag 'store/spree_slider_theme/default/no-product.jpg', :width => 310, :height => 207), "#" %>
    <% else %>
      <% @help = @list_new_products.first %>
      <% if @help.images.first.attachment.styles.select{ |i| i == "feature"}.length == 1 %>
        <%= link_to feature_image(@help, :itemprop => "image"), @help, :itemprop => 'url' %>
      <% else %>
        <%= link_to small_image(@help, :itemprop => "image", :width => 310, :height => 207), new_path, :itemprop => 'url' %>
      <% end %>
    <% end %>
		<div class="promotion">
      <div class="tag_promotion"><%= t :newest_products_title %></div>
		</div>
	</div>
	
	<div class="image_categories">
    <% if @list_promotion_products.nil? || @list_promotion_products.empty? %>
      <%= link_to (image_tag 'store/spree_slider_theme/default/no-product.jpg', :width => 310, :height => 207), "#" %>
    <% else %>
      <% @help = @list_promotion_products.first %>
      <% if @help.images.first.attachment.styles.select{ |i| i == "feature"}.length == 1 %>
        <%= link_to feature_image(@help, :itemprop => "image"), @help, :itemprop => 'url' %>
      <% else %>
        <%= link_to small_image(@help, :itemprop => "image", :width => 310, :height => 207), promo_path, :itemprop => 'url' %>
      <% end %>
    <% end %>
		<div class="promotion">
      <div class="tag_promotion"><%= I18n.t :promotion_products_title %></div>
		</div>
	</div>
</div>

<div style="clear: both;"></div>
