<% if current_page?(root_path) %>
  <% if !@slider_images.nil? && @slider_images.count > 0 %>
    <div id='wrapper' class='slider_pict' style='margin-bottom:50px;'>
      <div class='slider-wrapper theme-default'>
        <div id='slider' class='nivoSlider' style='height:510px; width:1024px;'>
          <% @slider_images.each do |image| %>
            <% destination = image.url_destination %>
            <% if destination.nil? %>
              <% destination = "#" %>
            <% end %>
            <% if !image.description.nil? && !image.description.empty? %>
              <% title = "<a href='#{destination}'>#{image.description}</a>" %>
              <%= image_tag image.image.url(:original), :title => title %>
            <% else %>
              <%= image_tag image.image.url(:original) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="slider_pict"></div>
  <% end %>
<% end %>
