<%= form_for @image, :url => spree.admin_spree_slider_theme_theme_images_path do |f| %>
  <table>
    <tr>
      <td><%= t :filename %></td>
      <td><%= f.file_field :image, :multiple => true %></td>
    </tr>
    <tr><td colspan="2"><%= f.submit %></td></tr>
  </table>
<% end %>
