<div id="theme_color">
  <%= t "activerecord.models.theme_color" %> : <%= !@theme_color.nil? ? @theme_color.color : "-" %>
  <%= button_to (t :edit), spree.admin_edit_theme_path, :method => :get, :id => "btn_edit_theme_color" %>
</div>

<div id="link_new_image" class="link_hover"><%= t "theme_image.new_image" %></div>
<% if @images.count > 0 %>
  <table style="width: 50%;border-collapse:collapse;" class="table_theme_images">
    <tr>
      <th width="40%"><%= t "helpers.label.theme_image.image" %></th>
      <th><%= t "helpers.label.theme_image.description" %></th>
      <th><%= t "theme_image.destination" %></th>
      <th><%= t "theme_image.display" %></th>
      <th><%= t :edit %></th>
      <th><%= t :delete %></th>
    </tr>
    <% index = 1 %>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.image.url(:small) %></td>
        <td><%= image.description %></td>
        <td><%= image.url_destination %></td>
        <td>
          <% if image.enabled == "true" %>
            <%= check_box_tag 'enabled_image[]', image.id, :id => "chk_enabled_#{image.id}" %>
          <% else %>
            <%= check_box_tag 'enabled_image[]', image.id, false, :id => "chk_enabled_#{image.id}" %>
          <% end%>
        </td>
        <td><%= button_to (t :edit), spree.edit_admin_spree_slider_theme_theme_image_path(image.id), :method => :get %></td>
        <td><%= button_to (t :delete), spree.admin_spree_slider_theme_theme_image_path(:id => image.id), :method => :delete, :class => "btn_delete_image" %></td>
      </tr>
      <% index += 1 %>
    <% end %>
  </table>

  <%= button_tag (t :save), :id => "btn_save" %>
<% else %>
  no images
<% end %>

<div title="<%= t "theme_image.add_new_image" %>" id="dlg_new_image">
  <%= render :partial => "form" %>
</div>

<div title="<%= t "theme_image.edit_theme_color" %>" id="dlg_edit_theme_color">
  <%= render :partial => "spree/admin/spree_slider_theme/theme_colors/edit_theme" %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#btn_save").click(function(){
      var arr_bantu = Array();
      $.each($("input:checkbox[name='enabled_image[]']:checked"), function(){
        arr_bantu.push($(this).val());
      });

      if(arr_bantu.length >= 2)
      {
        $.ajax({
          type: "POST",
          url: "<%= spree.admin_enabled_selected_path %>",
          data: { arr_images: arr_bantu },
          success: function(result)
                   {
                   if(result.notice == "s")
                     window.location.replace("<%= spree.admin_redirect_enabled_path(:notice => 's') %>");
                   else
                     window.location.replace("<%= spree.admin_redirect_enabled_path(:notice => 'f') %>");
                   }
        });
      }
      else if(arr_bantu.length == 0)
        alert("<%= t 'theme_image.no_image_selected' %>");
      else
        alert("<%= t 'theme_image.minimal_image' %>");
    });

    $(".btn_delete_image").click(function(e){
      <% if @images.count - 1 == 0 %>
        alert("<%= t 'messages.theme_images.cant_delete_more_photo' %>");
        e.preventDefault();
      <% else %>
        confirm("<%= t 'are_you_sure' %>");
      <% end %>
    });

    $("#btn_edit_theme_color").click(function(e){
        e.preventDefault();
        $("#dlg_edit_theme_color").dialog("open");
    });
  });
</script>
