<h1 class="taxon-title"><%= accurate_title %></h1>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
    <% # TODO load filters %>
    <%#= render :partial => 'shared/filters' if @taxon.children.empty? %>
  </div>
<% end %>
