<div class="columns seven omega" data-hook="product_right_part" style="float:right;margin-right:-4em;">
  <div class="row" data-hook="product_right_part_wrap">

    <div id="product-description" data-hook="product_description">

      <div itemprop="description" data-hook="description">
        <%= product_description(@product) rescue t(:product_has_no_description) %>
      </div>

      <div id="cart-form" data-hook="cart_form">
        <%= render :partial => 'cart_form' %>
      </div>

    </div>

    <%= render :partial => 'taxons' %>

  </div>
</div>
