
<h1 class="title_best_new"><%= t :best_products %></h1>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <% if "products" == params[:controller] && @taxon %>
      <%= render :partial => 'spree/shared/filters' %>
    <% else %>
      <%= render :partial => 'spree/shared/taxonomies' %>
    <% end %>
  </div>
<% end %>


<% if params[:keywords] %>

  <div data-hook="search_results">
    <% if @products.empty? %>
      <h6 class="search-results-title"><%= t(:no_products_found) %></h6>
    <% else %>
      <%
        #paginated_products = @searcher.retrieve_products if params.key?(:keywords)
        paginated_products ||= products
      %>
      <% if products.empty? %>
        <%= t(:no_products_found) %>
      <% elsif params.key?(:keywords) %>
        <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
      <% end %>

      <% if products.any? %>
      <ul id="products" class="inline product-listing" data-hook>
        <% reset_cycle('default') %>
        <% products.each do |product| %>
          <% if product.on_display? %>
            <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
              <div class="product-image">
                <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
              </div>
              <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
              <span class="price selling" itemprop="price"><%= product.display_price %></span>
            </li>
          <% end %>
        <% end %>
        <% reset_cycle("classes") %>
      </ul>
      <% end %>

      <% if paginated_products.respond_to?(:num_pages) %>
        <%= paginate paginated_products %>
      <% end %>
    <% end %>
  </div>

<% else %>

  <div data-hook="homepage_products">
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
  </div>
<% end %>

<script type="text/javascript" >
	$("#sidebar").css('margin-top','0em')
</script>