<ul class="view_cart">
  <li class="kotak_cart"><%= @current_order.nil? ? "0" : @current_order.display_total %></li>
  <li><%= link_to image_tag('store/spree_slider_theme/default/shopping-cart-accept-icon.png', :class => 'img_cart') + "#{t :cart}", cart_path %></li>
  <li><%= link_to (t :sign_up), new_user_registration_path %></li>
  <li><%= link_to (t :login), login_path %></li>
  <li width="50px"><%= select_tag(:locale, options_for_select(@list_locales.map { |key, val| [val, key] }, I18n.locale), :style => "width:120px !important;") %></li>
</ul>
