<%
  arr = []

  Spree::Product.all.each do |product|
    variants = product.variants_including_master_and_deleted
    line_item = Spree::LineItem.find(:all, :conditions => ["variant_id IN (?)", variants ] )
    quantities = line_item.map(&:quantity)
    quantity_total = quantities.inject{|sum,x| sum + x}.nil? ? 0 : quantities.inject{|sum,x| sum + x}
    arr.push({:product_id => product.id, :quantity => quantity_total})
  end

  sorted = arr.sort {|a, b| b[:quantity] <=> a[:quantity]}
%>

<%= arr.inspect %>
