/*footer*/
div.container{
  margin-top: -40px;
  height: 100%;
}

select{
  padding: 0px !important; /* for override bootstrap css in comobox*/
}

.columns.alpha.omega.sixteen{
  clear: both;
}

#content #fat-footer{
	background-color: red;
	width: 1024px;
	margin-left: none;
	position: absolute;
	margin-left: -10px;
	margin-top: -50px;
}

#fat-footer .taxonomy-root{
	color: white !important;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 10px !important;
	border-bottom: none !important;
}

#fat-footer .taxons-list{
	color: white !important;
	font-size: 14px !important;
	margin-left: 10px !important;
	margin-top: 5px !important;
	margin-right: 80px;
	padding-bottom: 5px;
}

#fat-footer .taxons-list a:hover{
	color: white !important;
	text-decoration: none;
}

#fat-footer{
	background-color: red;
	width: 1024px;
	margin-left: none;
	/*position: absolute;*/
  float: left;
	margin-left: 0px; !important;
}

#fat-footer #taxonomies{
  background: rgb(50,50,50);
  float: left;
  padding-right: 35px;
  padding-top: 25px;
  width: 100%;
}

#fat-footer .fat-footer-taxon{
  float: left;
  margin-left: 30px;
  width: 305px;
}

#fat-footer ul{
  list-style-type: none !important;
}

/*_header.erb*/
#header{
	background: white;
	width: 1024px;
	font-size: 18px;
	font-family: arial;
	text-align: left;
	clear: both;
	height: 140px;
}

#content{
	float: left;
}

#wrapper{
	width: 1024px;
	margin-top: -5px;
	background-color: #f5f4f4;
	float: left;
	height: 100%;
}

.row{
	margin-bottom: 2px;
	margin-left:  auto !important;
}

div{
	display: block;
}

.headline_right{
	float: right;	
	width: 450px;
	position: relative;
	top: 10px;
}

.headline_right a:hover{
	text-decoration: none;
}

ul.view_cart{
	list-style: none;
	margin: 0;
	padding: 5px 20px 0 0;
	color: #797979;
	text-shadow: 1px 1px #dfdfdf;
}
ul.view_cart li{
	float: right;
	margin-left: 10px;
	font-size: 14px;
}

.img_cart{
	float: left;
	margin-right: 5px;
}

.kotak_cart{
	width: 25px;
	height: 25px;
	margin-top: -5px;
	padding-top: 5px;
	color: #ed2227;
}

ul.search{
  clear: both;
  margin-left: -1px;
  padding: 10px 10px 0 0;
  color: #858585;
  text-shadow: 1px 1px #dfdfdf;
  list-style-type: none !important;
  width: 430px;
}

ul.search li{
  float: left;
}
 
ul.search #keywords{
  margin-right: 5px;
  padding-top: 5px;
  border: 1px solid #afafaf;
  width: 170px;
  height: 20px;
  font-size: 16px;
  list-style-type: none !important;
}

ul.search #taxon{
  margin-right: 5px;
}

#btn_search{
  padding-top: 3px;
  padding-bottom: 3px;
}

.headline_left{
	width:1024px;
	height:50px;
	top:10px;
	z-index:90;
}

.logo{
	float: left;
	width: 250px;
	margin-top: 20px;
	margin-left: 30px;
}
/*--maria changes navigation to menu*/
.menu{
	float: left;
	width: 1024px;
	height: 43px;
	background-image: linear-gradient(bottom, rgb(32,32,32) 50%, rgb(54,54,54) 100%);
	background-image: -o-linear-gradient(bottom, rgb(32,32,32) 50%, rgb(54,54,54) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(32,32,32) 50%, rgb(54,54,54) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(32,32,32) 50%, rgb(54,54,54) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(32,32,32) 50%, rgb(54,54,54) 100%);
	webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
}

ul.navigation_menu{
	list-style: none;
	width: auto;
	margin: 0;
	padding: 10px 0 0 0;
	color: #f7f7f7;
}

ul.navigation_menu li{
	float: left;	
	margin-left: 110px;
	font-size: 16px;
	font-weight: bold;
}

ul.navigation_menu li a{
	color: white !important;
	margin-top: 5px;
}

ul.navigation_menu li a:hover{
	text-decoration: none;
	color: #ed2227 !important;
}

.navigation_under{
	color: #ed2227;
	height: 26px;
	width: 130px;
	padding-left: 20px;
	border-bottom: 6px solid #ed2227;
}

.navigation_bottom{
	width: 1024px;
	height: 4px;
	background-color: #ed2227;
	margin-top: 30px;
}

#featured{
	background-color: #343434;
	width: 1024px;
	height: 254px;
	margin-top: -10px;
	color: white;
	font-size: 16px;
}

.image_categories{
	float: left; 
	position: relative;
	margin-left: 23px;
	margin-top: 23px;
}

.promotion{
	width: 310px;
	height: 30px;
	background-color: rgba(52,52,52,.9); 
	position: absolute; 
	bottom: 0;
}

h1.title_best_new{
	margin-left: 25px !important;
	margin-top: 10px !important;
}
.tag_promotion{
	margin-left:10px;
	margin-top:6px;
	font-weight: bold;
}

/*Produk info*/

#products{
	margin-bottom: 30px;
}

li[data-hook="products_list_item"]{
	float: left;
	position: relative;
}

.product-info{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(232,165,164,0.22) 22%, rgba(234,63,60,0.62) 61%, rgba(237,37,33,1) 99%, rgba(237,36,32,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(22%,rgba(232,165,164,0.22)), color-stop(61%,rgba(234,63,60,0.62)), color-stop(99%,rgba(237,37,33,1)), color-stop(100%,rgba(237,36,32,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(232,165,164,0.22) 22%,rgba(234,63,60,0.62) 61%,rgba(237,37,33,1) 99%,rgba(237,36,32,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(232,165,164,0.22) 22%,rgba(234,63,60,0.62) 61%,rgba(237,37,33,1) 99%,rgba(237,36,32,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(232,165,164,0.22) 22%,rgba(234,63,60,0.62) 61%,rgba(237,37,33,1) 99%,rgba(237,36,32,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(232,165,164,0.22) 22%,rgba(234,63,60,0.62) 61%,rgba(237,37,33,1) 99%,rgba(237,36,32,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ed2420',GradientType=0 ); /* IE6-9 */
	
	bottom: 0;
	color: white;	
	text-shadow: 1px 1px 1px black;
	z-index: 200;
	position: absolute;
	width: 231px;
	height: 80px;
	margin-left: 1px;
	margin-bottom: 1px;
}

a.product_name{
	color: white !important;
	font-size: 14px;
	font-weight: bold;
	margin-top: 35px !important;
	margin-bottom: -15px !important;
	text-shadow: 1px 1px 1px black;
}

ul#products li{
	width: 233px;
	height: 160px;
	background-color: white;
	margin: 0px;
	border: 0.5px solid #e7e7e7;
	padding-bottom: 2px;
}

.product-image{
	min-height: 150px !important;
}

.product-image a img{
	z-index: -100;
	width: 150px;
}

p{
	padding: 0px !important;
}

#breadcrumbs{
	margin-top: 10px;
	margin-bottom: auto;
	margin-left: 240px;
	width: 73%;
	float: left;
}

#breadcrumbs span a{
	color: #ed2227 !important;
}

#breadcrumbs span a:hover{
	color: #343434 !important;
}

h5.subtaxon-title a{
	text-decoration: none;
}

h5.subtaxon-title{	
	border-bottom: 1px solid #D9D9DB;
	width: 100%;
	margin-left: 25px;
}

#sidebar{
	padding-top: 15px;
	background-color: #e0dede;
	box-shadow: 2px 1px 5px #343434;
	margin-top: -44px;
	float: left;
	min-height: 100%;
	height: 100%;
}

#sidebar a:hover{
	text-decoration: none;
}

.pagination{
	 /*background-color: #343434;*/
	 width: 784px !important;
}


/*checkout - edit.html.erb*/
#checkout{
	width: 1024px;
	background-color: #f4f3f3;
}

/* checkout - progres step*/
h1{
	font-size: 22px !important;
	margin-top: 10px !important;
	margin-left: 50px !important;
}

.container .thirteen.columns{
	margin-left: -50px;
}


#checkout-step-address, #checkout-step-delivery, #checkout-step-payment, #checkout-step-confirm, #checkout-step-complete{
	width: 950px;
	background-color: #343434;
}

.progress-steps li{
	float: left;
	margin-right: 0;
}

.progress-steps li a:hover{
	text-decoration: none;
}

.progress-steps li.current-first, .progress-steps li.current{	
	background-color: #ed2227;
	width: 120px;
}

.progress-steps li.completed-first, .progress-steps li.completed{
	background-color: #ed2227;
	width: 120px;
	color: #343434;
	border-right: 1px solid #b1161a;
	color: white;
}

.progress-steps li.completed-first a, .progress-steps li.completed a{
	color: white !important;
}

.progress-steps li.completed-first:hover, .progress-steps li.completed:hover, .progress-steps li.completed-first:hover a:hover, .progress-steps li.completed:hover a:hover{
	background-color: #b1161a;	
	color: white !important;
}

/*checkout - billing address*/
.container .six.columns, .columns .omega .six{
	width:320px;
	margin-right: 20px;
}

#billing legend, #shipping legend, #shipping_method legend, #payment legend, #order_details legend, #order_summary legend{
	color: #ed2227;
}

.checkout_header{
	float: left;
}

legend{
	width: auto !important;
	border-bottom: 0 !important;
}

label{
	display: inline !important;
}

label, input, button, select, textarea{
	color: #343434 !important;
	font-size: 14px !important;
}

p.field{
	padding: 0;
	margin-left: 10px;
	margin-top: -5px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, 
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
	border-color: #ed2227 !important;
}

#order_bill_address_attributes_firstname.required{
	margin-top: 6px;
}

.required{
	width: 270px;
	margin-right: 20px;
}

#use_billing{
	margin-right: 10px;
}

p[data-hook="use_billing"]{
	background-color: transparent;
	float: right;
	margin-left: 170px;
	width: 130px;
}

div[data-hook='checkout_progress']{
	clear: both;
	margin-left: 10px !important;
}

/*order summary*/

#checkout-summary{
	margin-top: 17px;
	margin-left: 35px;
	margin-bottom: 20px;
}

#checkout-summary h3{
	line-height: 33px !important;
	margin-top: 1px !important;
	color: #ed2227 !important;
	margin-bottom: 0;
}

span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, 
#order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], 
table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total{
	color: #ed2227;
}

/*shipping method, payment*/
#shipping_method, .form-buttons, #payment, #billing, #shipping{
	margin-left: 50px;
	margin-top: -5px;
}

#methods{
	margin-top: -20px;
}

div[data-hook="checkout_payment_step"]{
	margin-left: 10px;
	margin-top: -10px;
	margin-bottom: -15px;
}

div[data-hook="checkout_payment_step"] p label input{
	float: left;
	margin-right: 10px;
}

#payment-methods{
	list-style-type: none;
	margin-left: 10px;
}

#payment-methods img{
	margin-left: 10px;
	margin-bottom: 10px;
}

#errorExplanation h2, #errorExplanation p{
	margin-left: 15px;
	margin-right: 15px;
}

/*shopping cart*/
.container .sixteen.columns{
	width: 1024px;
}

#shipping_method, #payment{
	width: 640px;
}

/*order_summary*/
#order_summary legend{
	margin-left: 30px;
}

#order_summary h1{
	margin-left: 10px !important;
	margin-top: -10px !important;
}

#order_summary{
	margin-left: 45px;
	width: 930px;
	margin-bottom: 20px;
}

#order a:hover{
	text-decoration: none;
}

#line-items td{
	background-color: white !important;
}

.steps-data{
	margin-left: -5px !important;
}

/*regristration*/
#existing-customer, #checkout_form_registration, .taxon-title, #update-cart{
	margin-left: 50px;
}

#checkout_form_registration{
	margin-top: 10px;
}

#existing-customer{
	margin-top: 15px;
	margin-bottom: 20px;
}

.button .primary{
	background-color: red;
}

#guest_checkout{
	margin-top: -46px;
}

div[data-hook="login"] p label input{
	float: left;
	margin-right: 10px !important;
}

div[data-hook="login"] a:hover, div[data-hook="login"] a{
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
}

/*sign up*/
#new-customer{
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 15px;
}

div[data-hook="signup"] a:hover, div[data-hook="signup"] a{
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
}

/*cart*/
#clear_cart_link{
	margin-left: 50px;
	margin-top: 49px;
}

button#checkout-link{
	margin-right: 95px;
}

#update-cart, #subtotal{
	width: 930px;
}

p#clear_cart_link a{
	height: 18px;
}

p#clear_cart_link a, p#clear_cart_link input{
	background-color: #ed2227;
	border: 1px solid #CD2027;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
}

p#clear_cart_link a:hover, p#clear_cart_link input:hover{
	background-color: #343434;
	border: 1px solid #343434;
}

#subtotal{
	height: 25px;
	padding-top: 5px;
}

#subtotal, #subtotal-row{
	background-color: #343434;
	color: white;
	margin-top:  0px !important;
}

.order-total{
	margin-right: 55px;
	font-size: 14px;
	margin-left: 5px;
}

thead{
	background-color: #343434 !important;
	color: white;
}	

.cart-item-image, .cart-item-description, .cart-item-price, .cart-item-quantity, .cart-item-total, .cart-item-delete{
	background-color: white;
}

.cart-item-image{
	border-right: 1px solid #D9D9DB;
}

a{
	color: #343434 !important;
}

::selection, a:hover{
	color: #ed2227 !important;
}

.primary{
	background-color: #ed2227;
	border: 1px solid #cd2027;
	color: white !important;
}

input[type="submit"], input[type="button"], input[type="reset"], button, a.button{
	background-color: #ed2227;
	border: 1px solid #cd2027;
	color: white !important;
}

/*Order*/
.flash.notice, .notice.errorExplanation{
	color: white !important;
	background-color: #ed2227;
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
}

#line-items tr td{
	border: 1px solid #d9d9db;
}

/*Search by brand*/
.taxon-title{
	margin-left: 25px !important;
	margin-bottom: 10px !important;
}

.filter-title, ul#products li .price, .taxonomy-root{
	color: #ed2227 !important;
}

#sidebar_products_search .filter-title, .taxonomy-root{
	border-bottom: 1px solid #9c9c9b !important;
	width: 80%;
	margin-left: 20px;
}

.nowrap{
	list-style-type: none !important;
}

.taxons-list{
	list-style-type: none !important;
	margin-left: 5px;
}

/*
.taxons-list li a{
	color: #f4f3f3 !important;
}
*/
.taxons-list li a:hover{
	color: #ed2227 !important;
}

/*produk*/
#product-thumbnails li:hover, #product-thumbnails li.selected, .product-image:hover{
	border-color: #ed2227 !important;
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
	border-color: #ed2227 !important;
	outline: none !important;
}

.odd{
	background-color: #dddddd !important;
}

#product-images{
	margin-left: 30px;
}

#products{
	width: 700px;
	margin-top: 20px;
}

#products a:hover, #breadcrumbs a:hover{
	text-decoration: none;
}

.total{
	margin-right: 10px;
}

#product-properties{
	margin-left: 30px;
	margin-bottom: 1.5em;
}

#add-to-cart-button{
	margin-top: -20px;
	margin-left: 0px;
}

.product-title{
	margin-left: 0px !important;
}

#product-description{
	float: right;
	width: 350px;
}

h6.product-section-title{
	margin-left: 30px !important;
	margin-bottom: 10px;
}

#product-price{
	margin-left: 0px;
}

#product-price h6.product-section-title{
	color: #343434;
	margin-left: 0px !important;
}

#product-variants h6.product-section-title{
	color: #343434;
	margin-left: 0px !important;
}

#taxon-crumbs h6.product-section-title{
	margin-left: 50px !important;
	margin-top: -5px;
	color: #343434;
}

#taxon-crumbs ul li{
	list-style-type: none;
	margin-left: 25px;
}

#taxon-crumbs ul li a{
	text-decoration: none;
}

#product-variants{
	width: 350px;
}

#product-variants ul li{
	list-style-type: none;
	margin-left: -30px;
}

/*delivery*/
#methods p label{
	width: 170px !important;
	float: left;
	margin-right: 30px;
}

#methods p label input{
	float: left;
	margin-right: 10px;
}

/*akun*/
.account-summary, .account-my-orders{
	margin-left: 40px;
	margin-right: 40px;
}

.account-my-orders{
	margin-bottom: 10px;
}

dl#user-info dd{
	margin-left: 0px;
	font-size: 14px;
}

.account-my-orders h3{
	margin-left: 10px;
}

/*search*/
h6.search-results-title{
	margin-left: 25px;
}
