<div id="header">
	<div class="headline_right">
    <% if current_user.nil? %>
      <%= render :partial => "shared/login.html.erb" %>
    <% else %>
      <%= render :partial => "shared/logout.html.erb" %>
    <% end %>
    <ul class="search">
      <%= form_tag products_path, :method => :get, :id => "form_search" do %>
      <li>
        <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
        <%= select_tag :taxon,
              options_for_select([[t(:all_departments), '']] +
                                    @taxons.map {|t| [t.name, t.id]},
                                  @taxon ? @taxon.id : params[:taxon]) %>
      </li>
      <li>
        <%= search_field_tag :keywords, params[:keywords], :placeholder => t(:search) %>
      </li>
      <li>
        <%= image_submit_tag "store/spree_slider_theme/default/Search.png", :name => nil, :id => "btn_search" %>
      </li>
      <% end %>
		</ul>
	</div>
	<div class="headline_left">
		<div class="logo">
			<%= link_to image_tag('store/spree_slider_theme/default/logo coba.png'), root_path %>
		</div>
		<div class="menu">
			<ul class="navigation_menu">
        <% @menus.each do |taxon| %>
          <li><%= link_to(taxon.name, seo_url(taxon)) %></li>
        <% end %>
        <li><a href="#" id="more_menu" data-toggle="modal">More</a></li>
			</ul>
			<div class="navigation_bottom">
			</div>
		</div>
	</div>
</div>

<div id="dlg_more_menu" title="<%= t :more_menu %>">
  <h3 id="myModalLabel"><%= t :more_menu %></h3>
  <% get_taxonomies.each do |taxonomy| %>
    <div class="fat-footer-taxon">
    <h6 class='taxonomy-root'><%= taxonomy.name %></h6>
    <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
    </div>
  <% end %>
</div>

<style type="text/css">
  #dlg_more_menu .close{
    color: black;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
      $('#more_menu').click(function(){
        $("#dlg_more_menu").dialog("open");
      });

      $("#dlg_more_menu").dialog({
        autoOpen: false,
        modal: true
      });

      $("#locale").change(function(){
        $.ajax({
                  url: "<%= change_locale_path %>",
                  type: "POST",
                  data: { locale: $("#locale").val() },
                  success: function(result)
                           {
                              if(result.notice != "")
                                location.reload();
                              else
                                alert(result.error);
                           }
        });
      });
  });
</script>
