<div class="product-info">
  <%= link_to truncate(product.name, :length => 50), product, :itemprop => "name", :title => product.name, :class => "product_name" %><br/>
  <span class="product_price"><%= product.display_price %></span>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $("a.info").remove();

      $(".product-info").hide();

      $(".product-image img").hover(function(){
        $(this).parent().parent().parent().find(".product-info").show();
      });

      $(".product-image img").mouseout(function(){
        $(this).parent().parent().parent().find(".product-info").hide();
      });
  });
</script>
